header{
    height: 600px;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#section1 h3{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}
#section1 p{
    color: white;
    text-align: center;
}
.navbar-nav{
    margin-left: auto !important;
}
.navbar-nav li a{
    color: white !important;
    margin-right: 20px;
}
#button{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}
#start{
    background-color: #fb414e;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 30px;
}
#Our{
    background-color:  transparent;
    color: white;
    border: 4px solid #fb414e;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
}
#div1{
    width: 350px;
    background-color: #fb414e;
    margin-right: 20px;
    margin-top: -50px;
}
#div2{
    width: 350px;
    background-color: #202b30;
    margin-right: 20px;
    margin-top: -50px;
}
#div1 img, #div2 img{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
#div1 h4, #div2 h4{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 20px;
}
#div1 p, #div2 p{
    color: white;
    font-size: 16px;
    margin-left: 50px;
    font-weight: 300;
    text-align: justify;
}
#div1 hr, #div2 hr{
    width: 50px;
    height: 5px;
    background-color: white;
    margin-left: 50px;
    border: none;
    opacity: 1;
}
#section3{
    padding-top: 40px;
}
#section3 h5{
    color: #fb414e;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}
#section3 h1{
    font-size: 60px;
    color: #202b30;
    text-align: center;
}
#section3 h1 span{
    color: #fb414e;
}
#section3 p{
    text-align: center;
    color: #202b30;
    width: 80%;
    margin: auto;
}
#ROW{
    margin-top: 30px;
}
#row img{
    display: block;
    margin: auto;
}
#row h3{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}
#row p{
    text-align: center;
    color: #312d2d;
}
#section5{
    height: auto;
    background-color: #202b30;
}
#section5 h3{
    font-size: 48px;
    color: white;
    margin-top: 90px;
}
#section5 p{
    width: 80%;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
}
#section5 button{
    width: 200px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1rem;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#section5 img{
    width: 200px;
    object-fit: cover;
    height: 300px;
    margin-top: 90px;
}
#orange{
    width: 200px;
    height: 300px;
    margin-top: 90px;
    background-color: #fb414e;
    margin-left: 30px;
}
#section8{
    margin-top: 100px;
}
#section6{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#section6 ul li{
    list-style-type: none;
    display: inline;
    font-size: 1rem;
    color: rgb(82, 82, 82);
    margin-right: 25px;
}
#section6 img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
    object-fit: cover;
}
#section7 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
#section7 button{
    width: 200px;
}